body{
    background-color: #ffffff;

}
h1{
    color: white;
    background-color: blue;
}
p{
    text-decoration: underline;
}
div{
    display: flex;
    background-color: lightgreen;
}
button{
    color: white;
    background-color: skyblue;
    text-transform:uppercase;
}